
<div class="col-xs-12">
	<h1 class="center">Blogs</h1>
	<div class="col-xs-10">
		<%@blogs.each_with_index do |data,index|%>
		<div class="row">
			<div class="col-xs-12">
				<div class="index-blog col-xs-12 ">
					<div class="blog-user col-md-12">
						<div class="user-image">
							<%if data.user.profile_image.attached?%>
								<%= image_tag(data.user.profile_image,class:"profile-blog-image")%>
							<%else%>
								<%if data.user.gender == 'male' %>		
									<%=image_tag 'man.png',class:"profile-blog-image"%>
								<%else%>
									<%=image_tag 'woman.png',class:"profile-blog-image"%>
								<%end%>
							<%end%>
						</div>
						<div class="user-name">
							<h4><b><%= data.user.user_name.capitalize%></b></h4>
						</div>
						<div class="blog-date">
							<h5>Shared publicly- <%= data.update_at.strftime("%h %e, %Y at %I:%M %p")%></h5>
						</div>
					</div>
					<div class="blog-title col-xs-12">
						<h4><b><%= link_to data[:title],blog_show_path(data),class:"link"%></b></h4>
					</div>
					<div class="blog-body col-xs-8 float-left">
						<%= truncate(data.description,lenght: 100)%>
					</div>
					<div class="list-blog-footer col-xs-4">
						<%= data.likes.count%> likes - <%=data.comments.count%> comments
					</div>
					</div>
				</div>
			</div>
		
		<%end%>
	</div>
	<div class="department-list col-xs-2">
		<div class="col-xs-12 dep-menu-hedding">
			<h4 class="center">Department Wise<h4>
		</div>
		<% @departments.each do |dep|%>
			<%= form_with scope: :department, url: index_path,method: :get, local: true do |form|%>
				<%= form.hidden_field :department_id,value: dep.id%>
				<%puts "////////////////////////////"%>
				<%puts dep.id%>
				<%= form.submit "#{dep.department_name}",class:"col-xs-12 dep-menu"%>
			<%end%>
		<%end%>
	</div>
</div>
				