<p id="notice"><%= notice %></p>

<p>
  <strong>Main url:</strong>
  <%= @url.main_url %>
</p>

<p>
  <strong>Small url:</strong>
  <%= @url.small_url %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
