<div class="row">
	<div class="col-md-12 center">
		<%#= gravatar_for @user,size:150%>
	 <div class="profile1-image center">
		<%if @user.profile_image.attached?%>
			<%= image_tag(@user.profile_image,class:"profile-image")%>
		<%else%>
			<%if @user.gender == 'male' %>		
				<%=image_tag 'man.png',class:"profile-image"%>
			<%else%>
				<%=image_tag 'woman.png',class:"profile-image"%>
			<%end%>
		<%end%>
	 </div>
	</div>
	<div class="col-md-12">
		<h4 class="center"><%=@user.user_name.capitalize%>'s Blogs</h4>
	</div>	
</div>
<div class="row">
	<%@blogs.each_with_index do |data,index|%>

		<div class="col-xs-4">
			<div class="well well-lg blog-well"  style="height: 200px;">
				<div class="blog-title">
					<h4><%= link_to data.title,blog_show_path(data),class:"link"%></h4>
				</div>
				<div class="blog-body">
					<%= truncate(data.description,lenght: 400)%>
				</div>
				<div class="blog-actions profile-blog">
					<%=link_to 'Edit this blog',edit_blog_path(data.id), class:"btn btn-primary btn-xs" %>
					<%=link_to 'Delete a Blog',blog_path(data),method: :delete,
	              data: { confirm: 'Are you sure?' },class:"btn btn-danger btn-xs"%></td>
				</div>
			</div>
		</div>

	<%end%>
</div>