<div class="jumbotron admin-table">
  <h1 align="center">List Blogs</h1>
<table class="table table-bordered"style="text-align: center;color:#4e4949;">
    <thead style="text-align: center;">
      <tr style="background:rgba(38,45,61,0.95);color: white;text-align: center;">
        <th>#</th>
        <th>Profile Image</th>
        <th>User Name</th>
        <th>Email</th>
        <th>gender</th>
        <th>Department</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="background: white;">
      <% @users.each.with_index do |data,index|%>
      <tr>
        <td><%= index+1 %></td>
         <td><%if data.profile_image.attached?%>
            <%= image_tag(data.profile_image,class:"profile-blog-image")%>
         <%else%>
            <%if data.gender == 'male' %>    
                <%=image_tag 'man.png',class:"profile-blog-image"%>
            <%else%>
                <%=image_tag 'woman.png',class:"profile-blog-image"%>
            <%end%>
         <%end%> 
        </td>
        <td><%= data.user_name.capitalize %></td>
        <td><%= data.email %></td>
        <td><%= data.gender%></td>
        <td><%= data.department.department_name %></td>
        <td><%= data.role%></td>
        <td><%= link_to "Edit",edit_admin_user_path(data),class:"btn btn-xs btn-success float"%>
            <%= link_to "show",admin_user_path(data),class:"btn btn-xs btn-info"%>
            <%= link_to "Delete",admin_user_path(data),class:"btn btn-xs btn-danger",method: 
            :delete,data: { confirm: 'Are you sure?' } %></td>    
      </tr>
      <% end %>      
    </tbody>
  </table>
</div>