<div class="jumbotron admin-table">
  <h1 align="center">List Blogs</h1>
<table class="table table-bordered"style="text-align: center;color:#4e4949;">
    <thead style="text-align: center;">
      <tr style="background:rgba(38,45,61,0.95);color: white;text-align: center;">
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th>User</th>
        <th>Department</th>
        <th>Blog Image</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="background: white;">
      <% @blogs.each.with_index do |data,index|%>
      <tr>
        <td><%= index+1 %></td>
        <td><%= data.title %></td>
        <td><%= data.description.truncate(100,omission: '... (continued)') %></td>
        <td><%= data.user.user_name %></td>
        <td><%= data.department.department_name %></td>
          <%if data.blog_image.attached?%>
            <td><%= image_tag(data.blog_image,class:"admin-table-blog-image") %></td>
          <% else %>
            <td><%= "-" %></td>
          <% end %>
        <td><%=link_to "Edit",edit_admin_blog_path(data),class:"btn btn-xs btn-success float"%>
            <%=link_to "show",admin_blog_path(data),class:"btn btn-xs btn-info"%>
            <%=link_to "Delete",admin_blog_path(data),class:"btn btn-xs btn-danger",method: 
            :delete,data: { confirm: 'Are you sure?' } %></td>    
      </tr>
      <% end %>      
    </tbody>
  </table>
</div>