
<div class="col-xs-12">
     <h2 class="center blog_title col-xs-8"><%=@blog.title%></h2>
    <div class="col-xs-8">
      <div class="blog-show-user col-md-12">
            <div class="user-image">
              <%if @blog.user.profile_image.attached?%>
                <%= image_tag(@blog.user.profile_image,class:"profile-blog-image")%>
              <%else%>
                <%if @blog.user.gender == 'male' %>    
                  <%=image_tag 'man.png',class:"profile-blog-image"%>
                <%else%>
                  <%=image_tag 'woman.png',class:"profile-blog-image"%>
                <%end%>
              <%end%>
            </div>
            <div class="user-name">
              <h4><b><%= @blog.user.user_name.capitalize%></b></h4>
            </div>
            <div class="blog-date">
              <h5>Shared publicly- <%= @blog.update_at.strftime("%h %e, %Y at %I:%M %p")%></h5>
            </div>
      </div>
      <div class="col-xs-12 blog-image-show">
          <%if @blog.blog_image.attached?%>
            <%= image_tag(@blog.blog_image,class:"col-xs-12 blog-image-show1")%>
            <%puts "====================="%>
            <%puts @blog.blog_image%>
          <%end%>
        </div>
        <div class="well col-xs-12">
            <h4 class="center description"><strong>Description:</strong></h4>
            <hr>
            <%= simple_format(@blog.description).html_safe %>
            <div class="blok-like col-xs-12">
              <div class="col-xs-3">
                 Likes: <%=@blog.likes.count%>                     
              </div>
              <%= form_with model: [@blog,@blog.likes.build], local: true do|form|%>
                <div class="form-group float-left col-xs-offset-6 col-xs-2">
                    <div class="col-sm-10">
                        <%= form.hidden_field :blog_like, value: 1%>
                        <%= form.submit "Like",class:"btn btn-sm btn-defult" %>
                    </div>
                </div>
              <%end%>
            </div>
       
        </div>
        </div>
    <div class="col-xs-4 comment-blog">
       
        <div class="comment-block col-xs-12">
            <% @blog.comments.each do |comment| %>
              <div class="comments col-xs-12">
                <div class="comment-user">
                  <%if comment.user.profile_image.attached?%>
                    <%= image_tag(comment.user.profile_image,class:"comment-blog-image")%>
                  <%else%>
                    <%if comment.user.gender == 'male' %>    
                      <%=image_tag 'man.png',class:"comment-blog-image"%>
                    <%else%>
                      <%=image_tag 'woman.png',class:"comment-blog-image"%>
                    <%end%>
                  <%end%>
                </div>
                <div class="comment-user-name">
                  <strong><%= comment.user.user_name.capitalize%></strong>
                  <h6 class="comment-user-date"><%=comment.created_at.strftime("%h %e, %Y")%></h6>
                </div>
                <div class="comment-text">
                    <p>
                      <%= comment.comment %>
                    </p>
                </div>
              </div>
            <% end %>
        </div>
         <div class="comment-form col-xs-12">
             <%=form_with model: [@blog,@blog.comments.build],local: true do|form|%>
                <div class="col-xs-9"> 
                 <%= form.text_field :comment,placeholder:"Add comment here..",class:"form-control"%>
                </div>
                <div class="col-xs-3">
                 <%= form.submit "Comment",class:"btn btn-sm btn-defult " %>
                </div>
            <%end%>
        </div>
    </div>
</div>
